:root {
  --radio-color: #333;
  --radio-background: #fff;
  --radio-border-color: #333;
}

body {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1em;
}

input[type="radio"] {
  color: var(--radio-color);
  background-color: var(--radio-background);
  border: 1px solid var(--radio-border-color);
}
